.sectionSix-wrapper{
    margin-bottom: 200px;
    background: radial-gradient(58.39% 328.01% at 51.32% 69.21%, #3DA0FC 0%, rgba(2, 227, 214, 0.2) 100%) ;
    padding: 32px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 30px;
    position: relative;

}
.six-left{
    max-width: 40%;
    padding: 28px 24px;
    background: #FFFFFF;
    border-radius: 8px;

}
.six-title{ 
    width: 100%;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #020C31;
    margin-bottom: 40px;
    font-family: "Unbounded", sans-serif;  
}
.form{
    display: flex;
    align-items: stretch;
    justify-content: start;
    flex-direction: column;
}
.label{
    max-width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
}
input{
    background: var(--Fon-Sery, #F2F2F2);
    width: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    outline: none;
    margin-bottom: 30px;
}
.checkbox-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}
.input{
    width: auto;
    margin-bottom: 0;
}
.six-btn{
    width: 100%;
    background: var(--Text-1, #242825);
    border-radius: 8px;
    padding: 10px 0;
    text-align: center;
    color: #FFFFFF;
}

.six-right{
    max-width: 60%;
    position: relative;
    display: flex;
    align-items: start;
    gap: 5px;
    padding-top: 30px;
}
.six-text{
    max-width: 300px;
     font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FAFAFA;
    transform: translate(-180px);
   

}
.six-rasm{
    position: absolute;
    bottom: 0;
}
@media (max-width: 990px){
    .six-title{
        font-size: 22px;
        max-width: 100%;
    }
  .six-text{
     transform: translate(-80px);
  }
}
@media (max-width: 760px){
    .sectionSix-wrapper{
        flex-direction: column;
    }
    .six-left{
        max-width: 100%;
    }
    .six-right{
        max-width: 100%;
        margin-top: 160px;
    }
    .six-title{
        font-size: 22px;
        max-width: 100%;
    }
  .six-text{
     transform: translate(0px);
  }
  .six-rasm{
    max-width: 50%;
    bottom: 0;
    transform: translate(180px );
  }
}
@media (max-width: 560px){
    .sectionSix-wrapper{
        flex-direction: column;
    }
    .six-left{
        max-width: 100%;
    }
    .six-right{
        max-width: 100%;
        margin-top: 60px;
    }
    .six-title{
        font-size: 22px;
        max-width: 100%;
    }
  .six-text{
     transform: translate(0px);
  }
  .six-rasm{
    max-width: 70%;
    bottom: 0;
    transform: translate(180px );
  }
}