.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.logo{
    display: flex;
    align-items: center;
    gap: 6px;
}
.header-list{
    display: flex;
    align-items: center;
    gap: 24px;
}