@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.sectionTwo-wrapper{
    padding: 40px 0;
    min-height: 600px;
    background-image: url(../SectionTwo/image/two_1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.two-right{
    max-width: 50%;
    margin-left: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding-top: 60px;
}
.two-title{
    max-width: 558px;
     font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FAFAFA;
    margin-bottom: 20px;
    font-family: "Unbounded", sans-serif;
}
.two-text{
    max-width: 300px;
     font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    margin-bottom: 136px;
    font-family: "Roboto", sans-serif;
}
.two-btn{
    padding: 10px 40px;
    background: #3360FF;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    &:hover{
        transform: scale(1.1);
    }
}
@media (max-width: 870px){
   .two-right{
    max-width: 100%;
   }
   .two-title{
    max-width: 100%;
   }
   .two-text{
    max-width: 100%;
   }
}